table {
  width: 750px;
  border-collapse: collapse;
  margin: 50px auto;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}

th {
  /* background: #3498db; */
  background: #000;
  color: white;
  font-weight: bold;
  height: 64px;
}

td,
th {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 18px;
}

.mobile-cell {
  display: none;
}
.desktop-cell {
  display: table-cell;
}

/* Mobile table collapsible */
@media only screen and (max-width: 760px) {
  table {
    width: 100%;
  }
  .mobile-cell {
    display: table-cell;
  }
  .desktop-cell {
    display: none;
  }
  .desktop-only-columns {
    display: none;
  }
  .toggle {
    display: none;
  }
  td,
  th {
    text-align: left;
    font-size: 18px;
  }
  .lbl-toggle::before {
    content: " ";
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);
    transition: transform 0.2s ease-out;
  }
  .toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
  }
  .collapsible-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  .lbl-toggle {
    display: block;
    width: 100%;
  }
  .toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 350px;
  }
  .toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .collapsible-content .content-inner {
    padding: 0.5rem 1rem;
  }
  .collapsible-content p {
    margin-bottom: 0;
    margin-top: 0;
  }
}
